body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* *{
    border: 2px solid red;
} */
.first {
    background-color: #1F2937;
    color: white;
    height:30em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;

}

.left{
    display: flex;
    flex: 1;
    padding: 5em;
    
}

.l-cont{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.right {
    display: flex;
    flex: 1;
    padding: 5em;
    justify-content: flex-end;
 
}

.r-cont{
    display: flex;
    border-radius: 8px;
    background-color: rgba(131, 205, 255, 0.603);
    padding: 6em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight:900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882f6;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
    height: 3em;
    width: 7em;
    border-color: rgba(255, 255, 255, 0.383);

}

.second {
    height:35em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title-second{
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.biggest-box{
    display: flex;
    flex-direction: row;
    padding: 3em;
    column-gap: 3em;
    display: flex;
    flex-direction: row;
}


.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box{
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 1em;
}

.box-text{
    padding: 8px;
    width: 200px;
    display: flex;
    text-align:center;
    color:#1F2937

}

.third {
    background-color: #E5E7EB;
    height:15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5em;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937ea;
}

.person{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    
}


.forth{
    height:30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-rectangular{
    display: flex;
    background-color: #3882f6;
    border-radius: 1em;
    padding: 3em 9em;
    column-gap: 6em;
    
}

.leftside {
    display: flex;
    flex-direction: column;
    color: white;
    
    row-gap: 4px;
    
}

.call{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 5em;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 5em;
    background-color: #1F2937;
    color: white;
}

.header-logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: left;
    font-weight: 900;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 1em;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
}

